body {
	background-image: url(../images/theartistheader.jpg);
	background-size: cover;
	font-family: Helvetica;
}

ul {
	font-family: Helvetica;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

li{
	display: inline;
}

#slogan {
	color: black;
	text-decoration: underline;
}
